{% load static %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 16rem;">
    <div class="carousel-item active">
      <a href="collections/Home">
      <img src="{% static 'images/caro1.jpg' %}" class="d-block w-100"  alt="slider1">
    </a>
    </div>
    <div class="carousel-item">
      <a href="collections/Fashion">
      <img src="{% static 'images/caro2.jpg' %}" class="d-block w-100"  alt="slider2">
    </a>
    </div>
    <div class="carousel-item">
      <a href="collections/Grocery">
      <img src="{% static 'images/caro3.jpg' %}" class="d-block w-100"  alt="slider3">
    </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>