{% extends "base.html" %}
{% block title %}
Amazon
{% endblock title %}
{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{category_name}} Products</h4>
                <hr style="border-color: white;">
            </div>
            {% for item in products %}
            <div class="card mx-3 my-3" style="max-width: 18rem;">
                <img src="{{item.product_image.url}}" class="card-img-top" style="max-height: 16rem;" alt="Categories">
                <a href="{% url 'details' category_name item.name %}" style="text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black;">{{item.name}}</h5>
                        <p class="card-text">
                            <span class="flex float-start" style="color: red;"><s>&#8377 {{ item.original_price | stringformat:'d' }}</s></span>
                            <span class="flex float-end" style="color: green;">&#8377 {{ item.selling_price | stringformat:'d' }}</span>
                        </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>




{% endblock content %}