{% extends "extends/base.html" %}
{% block title %}
Favourite | Amazon
{% endblock title %}
{% block content %}
<section style="min-height: 615px;" class="mb-4">
    <div class="container">
        <div class="row ">
            <div class="col-12 my-4">
                <h4 style="color:var(--pri);">Favourite Items</h4>
                <hr>
            </div>
            {% if fav %}
            <table style="text-align: center;">
                <thead>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Remove</th>
                </thead>
                {% for item in fav %}
                <tr>
                    <td><div class="my-3"><img src="{{item.product.product_image.url}}" style="height: 6rem;;" alt="{{item.product.name}}"></div></td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.selling_price | stringformat:'d'}}</td>
                    <td><a href="{% url 'remove_fav' item.id %}" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger btn-sm">Remove</a></td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div class="container" style="height: 26em;display: flex;align-items: center;justify-content: center">
                <p style="opacity: 0.7;font-size: large;"><b>Your Favourite is Empty...</b></p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}