{% extends "extends/base.html" %}
{% block title %}
My Orders | Amazon
{% endblock title %}
{% block content %}
<div class="container" style="min-height: 623px;">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-3">
              <li class="breadcrumb-item"><a style="text-decoration: none;color:var(--head);" href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">My Orders</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                    <div class="card-body">
                        <div style="height: 500px;overflow-y:auto;">
                            <table class="table" style="text-align: center;">
                                <thead>
                                    <th>Order Date</th>
                                    <th>Tracking No</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                {% for item in orders %}
                                <tr>
                                    <td>{{ item.created_at.date }}</td>
                                    <td>{{ item.tracking_no }}</td>
                                    <td>{{ item.total_price | stringformat:'d' }}</td>
                                    <td>{{ item.status }}</td>
                                    <td><a href="{% url 'view_order' item.tracking_no %}"
                                            class="btn btn-primary btn-sm">View</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}